.button {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  transition: background-color 0.4s ease, color 0.4s ease;

  &--primary {
    padding: 22px;
    border: 2px solid $white;

    @media (min-width: $tablet-width) {
      padding: 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 25px;
    }
  }

  &--primary:not(:disabled):hover {
    background-color: $white;
    color: $text-accent;
  }

  &--primary:not(:disabled):focus-visible {
    background-color: rgba(255, 255, 255, 0.8);
    color: $text-accent;
    border-color: #000000;
    outline: none;
  }

  &--primary:not(:disabled):active {
    background-color: $white;
    color: $basic-primary;
  }

  &--secondary {
    padding: 25px;
    border: 2px solid $basic-primary;

    @media (min-width: $tablet-width) {
      padding: 25px;
    }
  }

  &--secondary:not(:disabled):hover {
    background-image: $btn-bg-gradient;
    background-color: $basic-primary;
    color: $white;
    border: none;
    padding: 27px;
  }

  &--secondary:not(:disabled):focus-visible {
    background-image: $btn-bg-gradient-focus;
    background-color: $basic-primary;
    color: $white;
    padding: 27px;
    border: none;
    outline: 2px solid #000000;
    outline-offset: -2px;
  }

  &--secondary:not(:disabled):active {
    background-image: $btn-bg-gradient;
    background-color: $basic-primary;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 27px;
  }

  &:disabled,
  &--disabled {
    opacity: 50%;
    cursor: default;
    pointer-events: none;
  }
}
