.field-group {
  display: flex;
  flex-direction: column;
}

.field-group__input {
  font-family: inherit;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  padding: 0;
  padding-block: 5px 4px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: $white;


  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
    border-color: $color-light-grey;
  }

  &:not(:disabled):hover {
    border-color: $white;
    transition: border-color 0.4s ease;
  }

  &:not(:disabled):focus {
    border: none;

    padding-block: 5px;
    outline: 1px solid $white;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &--invalid {
    border-color: $error-color;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.3);
  }
}

.field-group__error-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $error-color;
  min-height: 22px;
}
