.juri-person {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.juri-person__illustration {
  margin: 0;
  width: 260px;
  min-height: 300px;
  grid-area: 1 / 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.juri-person__illustration picture {
  grid-area: 1 / 1;
}

.juri-person__illustration img {
  display: block;
}

.juri-person__illustration figcaption {
  grid-area: 1 / 1;
  align-self: end;
  color: $white;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  padding-bottom: 25px;
}

.juri-person__information {
  grid-area: 1 / 1;

  display: none;
  box-shadow: 0 0 35px 0 rgba(42, 59, 99, 0.17);
  background-color: rgba(16, 38, 84, 0.89);
  color: $white;
  padding: 45px 40px;
}

.juri-person__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 400;
}

.juri-person__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 24px;
}

.juri-person__progress-list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  font-weight: 400px;
  text-align: start;
  padding-left: 16px;
  width: 160px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.juri-person__progress-list li {
  position: relative;
}

.juri-person__progress-list li::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: -16px;
}

.juri-person:focus .juri-person__information {
  display: block;
}

@media (min-width: $desktop-width) {
  .juri-person:hover .juri-person__information {
    display: block;
  }
}
