.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  font-family: $primary-font;
  color: $basic-primary;
  background-color: $white;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  min-width: 300px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
