.page-footer {
  padding-block: 40px;
  background-color: $bg-footer;
  color: $white;

  @media (min-width: $tablet-width) {
    padding-block: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 40px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
  }
}
