.price {
  background-color: $bg-secondary;
  padding-block: 40px;

  @media (min-width: $tablet-width) {
    padding-block: 60px;
    background-image:
      image-set(
        url("../../img/price-background-tablet@2x.webp") type("image/webp") 2x,
        url("../../img/price-background-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/price-background-tablet@2x.png") 2x,
        url("../../img/price-background-tablet@1x.png") 1x
      );
    background-repeat: no-repeat;
    background-size: 403px 422px;
    background-position: right calc(((100% + 403px) - 768px) / 2 - 78px) bottom -35px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 100px;
    background-image:
      image-set(
        url("../../img/price-background-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/price-background-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/price-background-desktop@2x.png") 2x,
        url("../../img/price-background-desktop@1x.png") 1x
      );
    background-repeat: no-repeat;
    background-size: 470px 494px;
    background-position: right calc(((100% + 470px) - 1366px) / 2 - 167px) bottom -48px;
  }
}

.price__wrapper {
  text-align: center;
}

.price__title {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.price__filter-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 2px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (min-width: $tablet-width) {
    width: 310px;
    column-gap: 43px;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    margin-bottom: 42px;
  }
}

// .price__filter-item {

// }

.price__filter-button {
  color: rgba(16, 38, 84, 0.5);
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  width: fit-content;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &::before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: transparent;
    bottom: -7px;
  }

  &--current {
    color: $basic-primary;
  }

  &--current::before {
    background-color: $btn-special-color;
  }

  &:not(:disabled):hover {
    color: rgba(16, 38, 84, 0.7);
  }

  &:not(:disabled):hover::before {
    background-color: #787878;
  }

  &:not(:disabled):focus-visible {
    color: $basic-primary;
    outline: none;
  }

  &:not(:disabled):focus-visible::before {
    background-color: $basic-primary;
  }

  &:not(:disabled):active {
    color: $basic-primary;
  }

  &:not(:disabled):active::before {
    background-color: $bg-banner-color;
  }

  &:disabled {
    color: $basic-primary;
    opacity: 30%;
    cursor: default;
  }
}

.price__product-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;

  &--show {
    display: flex;
    flex-direction: column;
    row-gap: 35px;

    @media (min-width: $tablet-width) {
      width: 380px;
      margin: 0 auto;
      row-gap: 40px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      flex-direction: row;
      gap: 40px;
      flex-wrap: wrap;
    }
  }
}
