.reviews {
  padding-block: 40px;

  @media (min-width: $tablet-width) {
    padding-block: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 100px;
  }
}

.reviews__title {
  text-align: center;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.reviews__slider-container {
  position: relative;
}

.reviews__slider {
  width: 240px;
  background-color: $basic-secondary;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);

  @media (min-width: $tablet-width) {
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__item {
  text-align: center;
  padding: 30px 25px 29px;
  background-color: $basic-secondary;
  color: $white;
  box-sizing: border-box;
  height: 100%;
  align-self: stretch;

  @media (min-width: $tablet-width) {
    text-align: start;
    padding: 40px 30px;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 4px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px;
    column-gap: 30px;
  }

  div {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      grid-column: 1;
      grid-row: span 2;
    }
  }

  img {
    object-fit: cover;
  }

  h3 {
    margin: 0;
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;

    @media (min-width: $tablet-width) {
      margin-bottom: 16px;
      font-size: 22px;
      line-height: 22px;
      grid-column: 2;
    }
  }

  p {
    margin: 0;

    @media (min-width: $tablet-width) {
      grid-column: 2;
    }
  }

  p:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.reviews__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  &--prev {
    left: -17px;

    @media (min-width: $desktop-width) {
      left: 179px;
    }
  }

  &--next {
    right: -17px;

    @media (min-width: $desktop-width) {
      right: 179px;
    }
  }
}
