.slider-button {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 32px;
    mask-image: url("/__spritemap#sprite-icon-arrow-view");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    background-color: $basic-primary;
  }

  &--prev::before {
    transform: rotate(180deg);
  }
}
