.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    width: 105px;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 95px;
    gap: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $white;

  &::before {
    content: "";
    width: 14px;
    height: 16px;
    background-color: $bg-footer;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  &--vk::before {
    mask-image: url("/__spritemap#sprite-icon-vk-view");
    mask-size: 13px 8px;
  }

  &--ok::before {
    mask-image: url("/__spritemap#sprite-icon-ok-view");
  }

  &--reddit::before {
    mask-image: url("/__spritemap#sprite-icon-reddit-view");
    mask-size: 14px 14px;
  }

  &:hover {
    background-color: $color-light-grey;
  }

  &:hover::before {
    background-color: $white;
  }

  &:focus-visible {
    background-color: $text-accent;
    outline: none;
  }

  &:focus-visible::before {
    background-color: $white;
  }

  &:active {
    background-color: $basic-primary;
  }

  &--disabled {
    background-color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
  }
}
