/* Шрифты */
$primary-font: "Roboto Condensed", "Arial", sans-serif;
$secondary-font: "Alumni Sans", "Arial", sans-serif;

/* Colors */
$white: #ffffff;
$basic-primary: #102654;
$basic-secondary: #1c3374;
$text-accent: #103aae;
$btn-special-color: #d10a42;
$bg-secondary: #f8f9fc;
$bg-footer: #030a1a;
$bg-banner-color: #ed0233;
$error-color: #ff121f;
$color-light-grey: #74819c;
$bg-gradient: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$btn-bg-gradient: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
$btn-bg-gradient-focus: linear-gradient(97.05deg, rgba(237, 2, 51, 0.8) 17.6%, rgba(0, 62, 183, 0.8) 95.31%);
$text-gradient: linear-gradient(127.61deg, #d10a42 0, #0041ca 45.58%);
$border-gradient: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);


/* Ширина */
$tablet-width: 768px;
$desktop-width: 1366px;
